*{
    margin: 0;
}

header{
    margin: 30px;
    text-align: center;
    color: #f76c5e;
}

header h1{
    font-size: 50px;
    margin-bottom: 20px;
}

header h2{
    font-size: 30px;
   margin-bottom: 20px;
}

header h3{
    font-size: 13px;
   margin-bottom: 20px;
}

main{
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: #f68e5f;
    color: white;
    border-radius: 20px;
    padding: 30px;
}

#appBoardOption p{
    margin-bottom: 20px;
    font-size: 17px;
}

#appBoardOptionSource label{
    margin-right: 20px;
}

#appBoardProposition{
    margin: 20px 0 15px 0;
    background-color: white;
    color: #f76c5e;
    padding: 30px;
    border-radius: 20px;
}

#appBoardProposition p{
    font-size: 25px;
    font-weight: bold;
}

#appBoardUser{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    margin-bottom: 25px;
}

#appBoardUser input{
    border: none;
    border-radius: 10px;
    padding: 10px 0;
}

button{
    border-radius: 10px;
    border: none;
    background-color: white;
    color: #f76c5e;
    font-size: 17px;
}

#appBoardScore{
    font-size: 20px;
    font-weight: bold;
}

#appBoardShare button{
    margin: 20px 0;
    padding: 6px;
}

footer{
    background-color: #f68e5f;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    padding: 30px;
    font-weight: 600;
    font-size: 17px;
}

#appPopupBackground{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
}

#appPopup{
    position: absolute;
    top: 50%;
    left: 50%;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 500;
    background-color: #f76c5e;
    border-radius: 30px;
    z-index: 1;
}


#appPopup p {
    width: 100%;
    margin-bottom: 20px;
}

#appPopup div {
    font-size: 25px;
    padding : 5px;
    padding-bottom: 15px;
}

/* Eléments de formulaire */
#appPopup input {
    margin-bottom: 10px;
}

#appPopup button {
    margin: 5px;
}